PROJECT_NAME=bookshelf

# API (Backend) configuration
VITE_API_URL=http://localhost:8000

# Database configuration (Based on compose.yaml)
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_HOST=host.docker.internal #db (For production, use db service's name)
MYSQL_PORT=
MYSQL_DB=

# Docker images configuration
DOCKER_IMAGE_BACKEND=bookshelf-backend
DOCKER_IMAGE_FRONTEND=bookshelf-frontend
