@import 'tailwindcss';

:root {
    /* Fixed */
    --gradient-primary: 135deg, oklch(48.8% 0.243 264.376), oklch(82.8% 0.111 230.318);
    /* ================================== */
    --border: 214 30% 88%;
}

* {
    border-color: hsl(var(--border));
}

body {
    color: hsl(var(--foreground));
}

@theme {
    /* Fixed */
    /* Color Related */
    --color-primary: oklch(54.6% 0.245 262.881);
    --color-secondary: oklch(70.8% 0 0);
    --bg-gradient-primary: var(--gradient-primary);
    /* ==================================== */

    /* Base container */
    --container-padding: 2rem;
    --container-2xl: 1400px;
}
